body{ 
    background:#99ccff
}
h1{ 
    font-family: arial;
    color:#800000
    
    
}
h2{
    color: black


}
img {
    float: left

    

}
mark{
    color: black
     
}